[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 13137797+mahakal@users.noreply.github.com
	name = Krishna Tripathi
